.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formGeneratePassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formLabel {
  margin-bottom: 10px;
}

.formInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputContainer > .formLabel {
  margin-right: 15px;
}

.formCheckbox {
  margin-right: 10px;
}

.checkboxLabel {
  font-size: 14px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #45a049;
}

.submitButton:active {
  background-color: #3e8e41;
}
